@import "../../styles/colors";

#header {
  display: flex;
  justify-content: space-between;

  nav {
    grid-area: nav;
  }

  ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    margin: 0;
  }

  a {
    color: $color-white;
    display: block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}